/* body{
 background-color:  rgb(0, 18, 77);
}
.app{
  background-color: lightgrey ;
  height: 50vh;
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 25%;
  border-radius: 2rem;
}
.title{
  font-size: 3rem;
  text-align: center;
  margin-top: 30%;
} */